/*
@import *reset.css";
// https://meyerweb.com/eric/tools/css/reset/reset.css
*/
iroot {}

html {}

body {
    font: 14 px sans-serif;
}

h1 {
    color: darkred;
}

.wrapper {
    font: 14px sans serif;
}
