header div#user {
    float: right;
}

/* -------------------------------------*/
/* LOGIN - REGISTER */
/* -------------------------------------*/

span#username{
    font-style: italic;
    font-weight: 900;
}

div#login,div#register {
    /*color: white;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/heroimage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

div#login div.wrapper,div#register div.wrapper{
    min-width: 500px;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem
}

/* -------------------------------------*/
/* LOGO */
/* -------------------------------------*/

#logo{
    height: 50px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
}
/* -------------------------------------*/
/* QUOTE
/* -------------------------------------*/

.quote {
    min-width: 500px;
    position: absolute;
    text-align: left;
    transform: translate(-50%, -50%);
    font-size: 2.5rem

}


/* -------------------------------------*/
/* FOOTER */
/* -------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}